/*** Packages ***/
:root {
  --card-color: #c0b283;
  --primary: #404a42;
  --light: #f4f4f4;
  --dark: #c0b283;
}

/* Styles to fix responsiveness of package elements*/
@media only screen 
and (min-width: 975px)
and (max-width: 1262px)
{
    .package-m-fix {
        margin-left: 12vh;
        margin-right: 12vh;
    }
}

@media only screen 
and (min-width: 918px)
and (max-width: 974px)
{
    .package-m-fix {
        margin-left: 2vh;
        margin-right: 2vh;
    }
}

#Top {
  position: fixed;
  margin-left: 93%;
  margin-bottom: 1%;
  float:right;
  width: 50px;
  height: 60px;
  font-size: 50px;
  padding: .5px;
  border-radius: 4px;
  color: var(--light);
  background-color: var(--primary);
}

.wed-bg img{
  height: 300px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.wed-bg-r img{
  height: 380px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.bday-bg img{
  height: 300px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.bday-bg-r img{
  height: 380px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.g-bg img{
  height: 300px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.g-bg-r img{
  height: 380px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.rooms-bg-r img{
  height: 380px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.rooms-bg img{
  height: 300px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#section-feature ul {
  margin: auto;
  padding: 0;
  list-style: none;
  position: relative;
}
#section-feature li {
  box-sizing: border-box;
  position: relative;
  height: 300px;
  width: 230px;
  float: center;
  margin: 2%;
  user-select: none;
  list-style-type: none;
}
#section-feature .sf-wrap {
  background-repeat: no-repeat;
  position: absolute;
  max-width: 230px;
  width: 100%;
  height: 100%;
}

.sf-mdl-left,
.sf-mdl-right,
.sf-mdl-left-full,
.sf-mdl-right-full {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;     
  transition: all .5s;
  overflow: hidden;
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}
  
.wed-bg img{
  height: 380px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.bday-bg img{
  height: 380px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.g-bg img{
  height: 380px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.rooms-bg img{
  height: 380px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#section-feature ul {
  margin: 100px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}

#section-feature li {
  box-sizing: border-box;
  position: relative;
  height: 380px;
  padding: 2%;
  float: left;
  margin-bottom: 40px;     
  user-select: none;
}

#section-feature .sf-wrap {
  background-repeat: no-repeat;
  position: absolute;
  max-width: 280px;
  width: 100%;
  height: 100%;
  left: 50%;
  margin-left: -140px;
  top: 0;    
  perspective: 600px;
  cursor: pointer;
}

.sf-mdl-left,
.sf-mdl-right,
.sf-mdl-left-full,
.sf-mdl-right-full {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;     
  transition: all .5s;
  overflow: hidden;
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.sf-icon {
  position: absolute;
  top: 90px;
  text-align: center;
  width: 100%;
  left: 0;
  width: 200%;
  color: #fb527a;
}


.sf-mdl-left-full .sf-icon,
.sf-mdl-right-full .sf-icon {
  color: #ffffff;
}

.sf-mdl-right,
.sf-mdl-right-full {
  left: auto;
  right: 0;
}

.sf-mdl-left-full,
.sf-mdl-right-full {
  background-color:  #c0b283;
  z-index: 9;
  color: #fff;
}

.sf-wrap a {
  color: #fff;
  text-decoration: none;
  margin-top: 110px;
}

.sf-mdl-left,
.sf-mdl-right {
  background-color: #fff;
  z-index: 10;
}

.sf-wrap > .sf-mdl-right-full,
.sf-wrap > .sf-mdl-right {
  background-position: right -30px;
}

.sf-wrap > .sf-mdl-right,
.sf-wrap > .sf-mdl-left-full {     
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform-origin: 0 0;
  transform: rotateY(0deg);
}

.sf-wrap.hover > .sf-mdl-right {     
  transform: rotateY(-45deg);
  background-color: #ececec;
}

.sf-wrap > .sf-mdl-left-full {     
  transform-origin: 100% 0;     
  transform: rotateY(180deg);
}

.sf-wrap.active > .sf-mdl-right,
.sf-wrap.hover.active > .sf-mdl-right {     
  transform: rotateY(-180deg);
}

.sf-wrap.active > .sf-mdl-left-full {     
  transform: rotateY(0deg);
}

.active .sf-mdl-left-full,
.active .sf-mdl-right-full {
  z-index: 11;
}

.sf-wrap div h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 22px;
  color: darkslategray;
   
}

.sf-wrap div h3,
.sf-wrap div p {
  width: 200%;
  position: absolute;
  text-align: center;
  left: 0;
  top: 190px;
}

.sf-wrap div p {
  padding: 0 10%;
  line-height: 18px;
  font-size: 14px;
  top: 100px;
}

.sf-wrap div.sf-mdl-right h3,
.sf-wrap div.sf-mdl-right-full h3,
.sf-wrap div.sf-mdl-right p,
.sf-wrap div.sf-mdl-right-full p,
.sf-mdl-right .sf-icon,
.sf-mdl-right-full .sf-icon
{
  left: auto;
  right: 0;
}

.sf-wrap div.sf-mdl-left-full h3,
.sf-wrap div.sf-mdl-right-full h3 {
  top: 60px;
}

/** Subpackages **/  
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.subpackage {
  padding: 60px 0;
  background: #fff;
}
.subpackage__grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.subpackage-card {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background: #edf2ff;
  border: 1px solid transparent;
  border-color: var(--card-color);
}
.subpackage-card__top {
  border-radius: 15px;
  background: var(--card-color);
  position: relative;
  padding: 20px 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.subpackage-card__top img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  object-fit:contain;
  width:100%;
  height: 100%;
}
.subpackage-card__top:hover img {
	opacity: .5;
}
.subpackage-card__title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 80px;
  color: var(--primary);
}
.subpackage-card__price {
  font-size: 700;
  font-size: 24px;
  align-self: flex-end;
}
.subpackage-card__price span {
  font-weight: 300;
  font-size: 14px;
}
.subpackage-card__body {
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
ul{
  list-style-type: '\2714';
  color: var(--primary);
}
li{
  color: var(--primary);
}
.room{
  list-style-type: none;
}
.subpackage-card__button {
  display: flex;
  justify-content: flex-end;
}
.subpackage-card__button a {
  display: inline-flex;
  height: 40px;
  width: 160px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--card-color);
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid transparent;
}
