/********** Template CSS **********/
:root {
    --primary: #404a42;
    --light: #f4f4f4;
    --dark: #c0b283;
}

.ff-secondary {
    font-family: 'Pacifico', cursive;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/***CHANGE MADE HERE***/
.criteria{
    width:250px;
    height: 300px;
}
/***CHANGE MADE HERE***/
/***Hidden Text Field***/
.booking-step{
    display: none;
    animation: moving .5s ease;
}
@keyframes moving{
    from{transform: translateX(50px);opacity: 0;}
    to{transform: translateX(0px);opacity: 1;}
}
.booking-step.active{
    display: block;
    width: 100%;
}
.booking-step h2{
    margin-bottom: 10px;
}
.booking_btn{
    margin-top: 15px;
    border: #404a42;
}
.payment-info {
    width: 100%; 
    padding: 20px; 
    border-radius: 10px;
    color: #404a42;
    background-color: #fff;
    vertical-align: middle;
    font-family: 'Nunito' sans-serif;
}

@keyframes moving{
    from{transform: translateX(50px);opacity: 0;}
    to{transform: translateX(0px);opacity: 1;}
}
.booking-step.active{
    display: block;
    width: 100%;
}
.booking-step h2{
    margin-bottom: 10px;
}
.booking_btn{
    margin-top: 15px;
    border: #404a42;
}
.payment-info {
    width: 100%; 
    padding: 20px; 
    border-radius: 10px;
    color: #404a42;
    background-color: #fff;
    vertical-align: middle;
    font-family: 'Nunito' sans-serif;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn.btn-primary:hover,
.btn.btn-secondary:hover {
    color: #404a42;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    font-size: 15px;
    color: var(--light) !important;
    text-transform: uppercase;
    font-weight: 500;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.navbar-dark .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
    }

    .navbar-dark .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid rgba(255, 255, 255, .1)
    }

    .navbar-dark .navbar-nav .nav-link,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
    }

    .navbar-dark .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background: transparent !important;
    }
    
    .sticky-top.navbar-dark {
        position: fixed;
        background: var(--dark) !important;
    }
}


/*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(192, 178, 131, .8), rgba(192, 178, 131, .8)), url(../img/cathedral-8318952_1280.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header img {
    animation: imgRotate 50s linear infinite;
}

@keyframes imgRotate { 
    100% { 
        transform: rotate(360deg); 
    } 
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after {
    display: none;
}


/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Food Menu ***/
.nav-pills .nav-item .active {
    border-bottom: 2px solid var(--primary);
}


/*** Youtube Video ***/
.video {
    position: relative;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url(../img/video.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video .btn-play {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 18px 20px 18px 28px;
}

.video .btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--primary);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--primary);
    border-radius: 50%;
    transition: all 200ms;
}

.video .btn-play img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video .btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid var(--dark);
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

#videoModal {
    z-index: 99999;
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
}


/*** Packages ***/

.wed-bg img{
    height: 300px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.bday-bg img{
    height: 300px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.g-bg img{
    height: 300px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.rooms-bg img{
    height: 300px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#section-feature ul {
    margin: auto;
    padding: 0;
    list-style: none;
    position: relative;
}
#section-feature li {
    box-sizing: border-box;
    position: relative;
    height: 300px;
    width: 230px;
    float: center;
    margin: 2%;
    user-select: none;
    list-style-type: none;
}
#section-feature .sf-wrap {
    background-repeat: no-repeat;
    position: absolute;
    max-width: 230px;
    width: 100%;
    height: 100%;
}

.sf-mdl-left,
.sf-mdl-right,
.sf-mdl-left-full,
.sf-mdl-right-full {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;     
    transition: all .5s;
    overflow: hidden;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}
    
.sf-mdl-left-full p, .sf-mdl-right-full p{
    margin-top: 55px;
} 

.wed-bg img{
    height: 380px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.bday-bg img{
    height: 380px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.g-bg img{
    height: 380px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.rooms-bg img{
    height: 380px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#section-feature ul {
    margin: 100px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
}

#section-feature li {
    box-sizing: border-box;
    position: relative;
    height: 380px;
    padding: 2%;
    float: left;
    margin-bottom: 40px;     
    user-select: none;
}

#section-feature .sf-wrap {
    background-repeat: no-repeat;
    position: absolute;
    max-width: 280px;
    width: 100%;
    height: 100%;
    left: 50%;
    margin-left: -140px;
    top: 0;    
    perspective: 600px;
    cursor: pointer;
}

.sf-mdl-left,
.sf-mdl-right,
.sf-mdl-left-full,
.sf-mdl-right-full {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;     
    transition: all .5s;
    overflow: hidden;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.sf-icon {
    position: absolute;
    top: 90px;
    text-align: center;
    width: 100%;
    left: 0;
    width: 200%;
    color: #fb527a;
}


.sf-mdl-left-full .sf-icon,
.sf-mdl-right-full .sf-icon {
    color: #ffffff;
}

.sf-mdl-right,
.sf-mdl-right-full {
    left: auto;
    right: 0;
}

.sf-mdl-left-full,
.sf-mdl-right-full {
    background-color:  #c0b283;
    z-index: 9;
    color: #fff;
}

.sf-wrap a {
    color: #fff;
    text-decoration: none;
    margin-top: 110px;
}

.sf-mdl-left,
.sf-mdl-right {
    background-color: #fff;
    z-index: 10;
}

.sf-wrap > .sf-mdl-right-full,
.sf-wrap > .sf-mdl-right {
    background-position: right -30px;
}

.sf-wrap > .sf-mdl-right,
.sf-wrap > .sf-mdl-left-full {     
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform-origin: 0 0;
    transform: rotateY(0deg);
}

.sf-wrap.hover > .sf-mdl-right {     
    transform: rotateY(-45deg);
    background-color: #ececec;
}

.sf-wrap > .sf-mdl-left-full {     
    transform-origin: 100% 0;     
    transform: rotateY(180deg);
}

.sf-wrap.active > .sf-mdl-right,
.sf-wrap.hover.active > .sf-mdl-right {     
    transform: rotateY(-180deg);
}

.sf-wrap.active > .sf-mdl-left-full {     
    transform: rotateY(0deg);
}

.active .sf-mdl-left-full,
.active .sf-mdl-right-full {
    z-index: 11;
}

.sf-wrap div h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 22px;
    color: darkslategray;
     
}

.sf-wrap div h3,
.sf-wrap div p {
    width: 200%;
    position: absolute;
    text-align: center;
    left: 0;
    top: 190px;
}

.sf-wrap div p {
    padding: 0 10%;
    line-height: 18px;
    font-size: 14px;
    top: 180px;
}

.sf-wrap div.sf-mdl-right h3,
.sf-wrap div.sf-mdl-right-full h3,
.sf-wrap div.sf-mdl-right p,
.sf-wrap div.sf-mdl-right-full p,
.sf-mdl-right .sf-icon,
.sf-mdl-right-full .sf-icon
{
    left: auto;
    right: 0;
}

.sf-wrap div.sf-mdl-left-full h3,
.sf-wrap div.sf-mdl-right-full h3 {
    top: 175px;
}
    
/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: var(--light) !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    text-align: left;
}

/***PRIVACYPOLICY***/
#privacyDialog h1,
#privacyDialog h5 {
  text-align: center; /* Center align the h1 and h5 elements */
}

#privacyDialog p {
    text-indent: 0; /* Reset the indent for all paragraphs */
}

#privacyDialog p.non-bold {
    text-indent: 1em; /* Add an indent of 1em (or your preferred size) to non-bold paragraphs */
}

#privacyDialog {
    width: 70%;
    height: 80%;
    padding: 50px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: justify;
    border-color: #fff;
    background-color: #fff;
}

/* Add styles for the close button "x" */
#closePrivacyDialog {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}

/***T&C***/
#termsDialog h1,
#termsDialog h6 {
  text-align: center; /* Center align the h1 and h5 elements */
}

#termsDialog p {
    text-indent: 0; /* Reset the indent for all paragraphs */
}

#termsDialog p.non-bold {
    padding-left: 20px;
}

#termsDialog {
    width: 70%;
    height: 80%;
    padding: 50px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: justify;
    border-color: #fff;
    background-color: #fff;
}

/* Add styles for the close button "x" */
#closeTermsDialog {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}
/*Sucess Message*/
.custom-swal-message {
    color: #c0b283; /* Change the text color to a custom color */
    font-size: 16px; /* Change the font size */
    font-weight: bold; /* Apply bold style */
  }

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close::before,
.close::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #333;
    transition: all 0.3s;
}

.close::before {
    transform: rotate(45deg);
}

.close::after {
    transform: rotate(-45deg);
}

.close:hover::before,
.close:hover::after {
    background-color: #ff0000;
}

.close:hover::before {
    transform: rotate(135deg);
}

.close:hover::after {
    transform: rotate(-135deg);
}

/*** offer ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f1f4fd;
  }
  
  .container {
    max-width: 1200px;
    width: 95%;
  }
  
  .slider-wrapper {
    position: relative;
  }
  
  .slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
  .slider-wrapper .slide-button:hover {
    background: #404040;
  }

.slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
  }
  
  .slider-wrapper .slide-button#next-slide {
    right: -25px;
  }
  
  .slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  
  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
  
  .slider-wrapper .image-list .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
  }
  
  .container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  
  .slider-scrollbar:hover .scrollbar-track {
    height: 4px;
  }
  
  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }
  
  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
  }
  
  .slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
  }

/* Styles to fix responsiveness of package elements*/
@media only screen 
and (min-width: 975px)
and (max-width: 1262px)
{
    .package-m-fix {
        margin-left: 12vh;
        margin-right: 12vh;
    }
}

@media only screen 
and (min-width: 918px)
and (max-width: 974px)
{
    .package-m-fix {
        margin-left: 2vh;
        margin-right: 2vh;
    }
}

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
.slider-wrapper .slide-button {
  display: none !important;
}

.slider-wrapper .image-list {
  gap: 10px;
  margin-bottom: 15px;
  scroll-snap-type: x mandatory;
}

.slider-wrapper .image-list .image-item {
  width: 280px;
  height: 380px;
}

.slider-scrollbar .scrollbar-thumb {
  width: 20%;
}
}